# Will Feeder 3.1
## Creating your own data subset

To create your own subset, follow these steps

1. Import packages to assist in creating your data set
2. Import your raw data
3. Explore the dataframe
4.

### Importing Packages and your Dataset

We are going to be utlilizing pandas to analyze and manipulate the data that you uploaded into the jupyter notebook in order to create your own subset. Follow along the following steps and you will be all set.

1. import packages to assist in creating your dataset
2. import your raw data

First what you need to do it import the pandas package into your notebook and while your at it import numpy as well which will help pandas with math.

Execute the following commands to import the two packages:

In [4]:
import numpy as np
import pandas as pd

(note: after each code you write, press command enter to run it)

Now you are ready for pandas to read the data you imported into your jupyter notebook.  If you put it into the folder but still dont see it in the notebook try completely quitting anaconda and reopening. It should become visable in your notebook. Now come up with what you want to abbreviate your data name as, in my case I used "data". Set the abbrevaited name of your data equal to the funciton "pd.read_csv" which will have panda read the data from the csv. Follow that funciton with in parenthesis and quotations the word for word name of your data set. _See below for reference._

In [11]:
data=pd.read_csv("FBICrime.csv")

### Exploring your Dataframes

Now that your dataframe has been read by pandas, its time to explore its attributes. These basic attributes will tell us how many rows and comlumns (in that order) there are, the total number of cells, and so much more.

To explore these basic attributes you will use the following format

dataframe name . attribute name

Use the "size" and "shape" attributes using the formate above. **Size** will tell us how many total cells there are and **Shape** will tell us how many rows and columns there are.

In [14]:
data.size

180

In [15]:
data.shape

(36, 5)

You can double check that the size and shape align by using a double equal sign function "==". The double equal sign determiens wether the function is true or false. In theory the data size (total cells) should equal the rows multiplied by the comlumns. So set up the funciton as a math equation with data.size equal to rows times columns. **Make sure to use double  equal sign**. _See below for reference._

In [16]:
data.size == 36*5

True

As you can see it should be true and if not something is either mistyped in your funcitons or your data was imported incorrectly.

The final attribute we will look at is the sample attribute. **Sample** takes a random sample of rows from the dataframe. To determine how many rows are taken for the sample we use the n equals function. Whatever n equals is how many rows are randomly picked. Follow the attribute format and include the n equals function, within parenthesis, after. _See below for help_.

In [21]:
data.sample(n=6)

,Bias motivation,Incidents,Offenses,Victims,Known\noffenders
17,Sexual Orientation:,"1,233","1,402","1,461","1,514"
22,Anti-Bisexual,25,27,27,21
29,Gender:,18,30,30,20
7,Anti-Native Hawaiian or Other Pacific Islander,3,3,3,7
12,Anti-Protestant,35,42,47,17
30,Anti-Male,5,5,5,7

### Filtering the Data

Now that you understand the datas basic attributes and ways to manipulate it, its time to filter the data to get the desired subset. To get the desired rows, use the loc method. This includes starting with the name of the data as usual then adding the loc fucntion followed by brackets with the start row and final row of your desired rows seperated by a colon.

(note: pandas starts the rows at zero so adjust your numbers accordingly)

It should look like this:

In [20]:
data.loc[3:8]

,Bias motivation,Incidents,Offenses,Victims,Known\noffenders
3,Anti-White,653,728,754,680
4,Anti-Black or African American,"1,856","2,263","2,371","1,747"
5,Anti-American Indian or Alaska Native,129,146,159,108
6,Anti-Asian,135,158,164,130
7,Anti-Native Hawaiian or Other Pacific Islander,3,3,3,7
8,"Anti-Multiple Races, Group",95,109,112,61

You have the rows but now you need to select which columns to focus your subset on. To do this we are going to insert another bracket within the one from the funciton above. Seperate the rows from the new brackets with a comma. Inside your new brackets include the EXACT names of the columns that you want to use. I emphasized exact because if you look at the column above, "Known offenders" shows up as "Known\noffenders" which is what you want to include in the new brackets. It looks wierd now but it will look normal in the complete subset. Make sure to include quotation marks and seperate the names with a comma (outside of the quotaiton marks). _Look below for reference._

In [29]:
    data.loc[3:8,["Bias motivation","Victims","Known\noffenders"]]

                                  Bias motivation Victims Known\noffenders
3                                      Anti-White     754              680
4                  Anti-Black or African American   2,371            1,747
5           Anti-American Indian or Alaska Native     159              108
6                                      Anti-Asian     164              130
7  Anti-Native Hawaiian or Other Pacific Islander       3                7
8                      Anti-Multiple Races, Group     112               61

Congratulations! You've now made your subset. However your not finished yet as we need to name it and save it as its own csv file.

To name the subset, first think of what you want to name it. In my case I named it "data_subset". Then you want to set it equal to the funciton you just completed above. I found it easy if you copy and paste so you dont make an error and it saves time.

In [23]:
 data_subset = data.loc[3:8,["Bias motivation","Victims","Known\noffenders"]]

Now you can test to see if it worked by typing the name of the subset. If done properly your subset should appear just as it does above.

In [30]:
data_subset

                                  Bias motivation Victims Known\noffenders
3                                      Anti-White     754              680
4                  Anti-Black or African American   2,371            1,747
5           Anti-American Indian or Alaska Native     159              108
6                                      Anti-Asian     164              130
7  Anti-Native Hawaiian or Other Pacific Islander       3                7
8                      Anti-Multiple Races, Group     112               61

### Saving your subset

The final step is to transform the subset into its own csv. To do this start with the name of your subset followed by the .to_csv function. Then include the name of the subset trailed by .csv. This needs to be in quotaiton marks and parenthesis.

It should look like this:

In [31]:
data_subset.to_csv("data_subset.csv")

Your subset should now appear in your folder. However you may notice and extra numbered column. To get rid of this use the index=False function. This tells pandas not to include those index numbers in the data. Just include this funciton within the parenthesis of the function above, seperated by a comma. _See below for help._

In [32]:
data_subset.to_csv("data_subset.csv", index=False)

Now you should be able to click on the subset and it should look like your other csv file and the only difference is its the data you want. Congratulations again! Now you have successfully created your own subset and downloaded it as a csv. I hope this helped.